.levels {
  display: flex;
  flex-wrap: wrap;
}

.levels__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.levels__progress {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  margin: 0 75px;
}

.levels__progress-item {
  flex: 1 1 auto;
  height: 10px;
  margin-right: 1px;
  background-color: #ccc;

  &:last-child {
    margin-right: 0;
  }
}

.levels__progress-line {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: green;
}
