.timer-block {
  display: flex;
  justify-content: center;
  align-items: center;
  @include fontreset();
}

.timer-block__item {
  display: flex;

  .user-level-info & {
    flex-direction: column-reverse;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.timer-block__count {
  position: relative;
  display: flex;
  justify-content: center;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;

  .user-level-info & {
    min-width: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $gray2;
  }

  .day &,
  .hour &,
  .min & {
    .user-level-info & {
      &:after {
        content: ':';
        position: absolute;
        right: -10px;
        top: 0;
        line-height: 28px;
        color: $gray1;
      }
    }
  }
}

.timer-block__label {
  overflow: hidden;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;

  .user-level-info & {
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 14px;
    color: $gray1;
  }
}
