body {
  background-color: $blue1;
}

.app {
  padding: 100px 10px;
}

.container {
  display: flex;
  min-width: 1320px;
  max-width: 1680px;
  margin: 0 auto;
  border: 8px solid $blue2;
}

.container__side {
  width: 356px;
  background-color: $blue6;
}

.container__content {
  flex: 1 1 auto;
  padding: 15px 30px;
  border-right: 8px solid $blue2;
  background-color: $blue3;

  &:last-child {
    margin-right: 0;
    border: none;
  }
}
