$blue1: #373745;
$blue2: #14141d;
$blue3: #1e1e27;
$blue4: #373745;
$blue5: #2a2a34;
$blue6: #2c2c39;
$white: #fff;
$gray1: #727282;
$gray2: #afafb5;
$gray3: #888895;
$gray4: #E2E2E9;
$brown1: #b09976;
$brown2: #86745a;
