{
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": ["error", "never"],
    "object-curly-spacing": [
      "error",
      "always", {
        "arraysInObjects": false,
        "objectsInObjects": true
      }
    ],
    "linebreak-style": 0,
    "operator-linebreak": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-tabs": "off",
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "require-jsdoc": "off",
    "space-before-function-paren": ["error", "always"],
    "max-len": "off"
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "google"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  }
}
