.level-item {
  position: relative;
  width: 100px;
  margin-bottom: 20px;
}

.level-item--previous {
  opacity: 0.6;
}

.level-item__inner {
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    height: 0;
    border-bottom: 15px solid $gray1;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;

    .level-item--current &,
    .level-item--previous & {
      border-bottom-color: $brown1;
    }
  }

  &:after {
    content: '';
    display: block;
    border-top: 20px solid $gray1;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;

    .level-item--current &,
    .level-item--previous & {
      border-top-color: $brown1;
    }
  }
}

.level-item__current-title {
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  font-size: 11px;
  line-height: 1;
  letter-spacing: normal;
  color: $brown1;
  white-space: nowrap;
}

.level-item__stars {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;

  &:last-child {
    margin: 0;
  }
}

.level-item__star {
  width: 12px;
  height: auto;
  margin-right: 4px;
  color: $gray2;

  &:last-child {
    margin-right: 0;
  }

  .level-item:nth-child(n+5) & {
    transform: translateY(-4px);

    &:first-child,
    &:last-child {
      transform: translateY(0);
    }
  }

  .level-item--current &,
  .level-item--previous & {
    color: $brown1;
  }
}

.level-item__box {
  padding: 0 4px 3px;
  background-color: $gray1;

  .level-item--current &,
  .level-item--previous & {
    background-color: $brown1;
  }
}

.level-item__title {
  padding-top: 4px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  letter-spacing: normal;
  color: $gray2;
  text-transform: uppercase;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  .level-item--current &,
  .level-item--previous & {
    color: $white;
  }
}

.level-item__info {
  position: relative;
  padding: 0 4px 5px;
  background-color: $blue4;

  .level-item--current &,
  .level-item--previous & {
    background-color: $brown2;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 100%;
    border-top: 18px solid $blue1;
    border-left: 46px solid transparent;
    border-right: 46px solid transparent;

    .level-item--current &,
    .level-item--previous & {
      border-top-color: $brown2;
    }
  }
}

.level-item__info-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 25px;
  border-bottom: 1px solid $gray1;
  font-size: 10px;
  line-height: 1;
  letter-spacing: normal;
  color: $gray2;

  .level-item--current &,
  .level-item--previous & {
    border-bottom-color: $brown1;
    color: $white;
  }

  &:last-child {
    border-bottom: none;
  }
}

.level-item__info-item-money {
  width: 6px;
  height: auto;
  margin-left: 2px;
  margin-right: 4px;
}

.level-item__info-item-diamond {
  width: 12px;
  height: auto;
  margin-left: 4px;
}
