/*
переназначаем длительность анимации, чтобы не было дерганья, так как данные приходят каждую секунду
*/
$transitionDuration: 0.5s;
.odometer.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition-duration: $transitionDuration !important;
  -moz-transition-duration: $transitionDuration !important;
  -ms-transition-duration: $transitionDuration !important;
  -o-transition-duration: $transitionDuration !important;
  transition-duration: $transitionDuration !important;
}

.odometer * {
  will-change: transform;
}

.odometer-inside {
  display: flex;
}

.odometer-formatting-mark {
  .user-level-info__points & {
    width: 10px;
  }

  .user-level-info__remainder-points & {
    width: 5px;
  }
}

.odometer-value,
.odometer-digit-spacer {
  .user-level-info__points & {
    font-family: Roboto;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: normal;
    color: $white;
  }

  .user-level-info__remainder-points & {
    font-family: Roboto;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: normal;
    color: $white;
  }
}
