.user-level-info {
  padding: 42px 15px 13px;
  text-align: center;
}

.user-level-info__levels {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-level-info__title {
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: normal;
  color: $white;
  text-transform: uppercase;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-level-info__points-wr {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-level-info__points-icon {
  width: 15px;
  height: auto;
  margin-left: 10px;
  margin-bottom: 14px;
  color: $white;
}

.user-level-info__levels {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-level-info__level {
  &:before {
    content: '';
    display: block;
    height: 0;
    border-bottom: 4px solid;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }

  &:after {
    content: '';
    display: block;
    border-top: 6px solid;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
}

.user-level-info__level--start {
  &:before {
    border-bottom-color: $brown1;
  }

  &:after {
    border-top-color: $brown1;
  }
}

.user-level-info__level--end {
  &:before {
    border-bottom-color: $gray1;
  }

  &:after {
    border-top-color: $gray1;
  }
}

.user-level-info__level-num {
  width: 16px;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  color: $blue6;
}

.user-level-info__level-num--start {
  background-color: $brown1;
}

.user-level-info__level-num--end {
  background-color: $gray1;
}

.user-level-info__level-arrow {
  width: 24px;
  height: auto;
  margin: 0 16px;
  color: $gray1;
}

.user-level-info__remainder-text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: normal;
  color: $white;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-level-info__remainder-points-wr {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.user-level-info__remainder-points-icon {
  width: 6px;
  height: auto;
  margin-left: 3px;
  margin-bottom: 4px;
  color: $white;
}

.user-level-info__separator {
  margin-bottom: 13px;
  border-bottom: 1px solid $blue1;
}
